$primary: #00b894;
$secondary: #ffc53e;

@import "~bootstrap/scss/bootstrap";
@import "difficulty-indicator";

.highlighted {
  background-color: $primary;
}
.not-highlighted {
  transition: background-color 3s ease;
  background: none;
}

.underline {
  text-decoration: underline;
}

.increase-spacing {
    word-spacing: 0.5rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
}